body{

background-color: rgba(255, 255, 128, .5);

}
h2{
font-size:15pt;
color: white;
}
.red{
color: blue;
}
.square {
    width: 400px;
    height: 400px;
    background: gray;
    border: 3px solid black;
    border-radius: 25px;
    margin: 200px;
    position: relative;
}
.circle {
    width: 30px;
    height: 30px;
    background: red;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border:3px solid black;
    position: absolute;
    bottom:190px;
    left:10px;
   
}

.circle2 {
    width: 30px;
    height: 30px;
    background: red;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border:3px solid black;
    position: absolute;
    bottom:190px;
    left:360px;
}
.circle3 {
    width: 30px;
    height: 30px;
    background: red;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border:3px solid black;
    position: absolute;
    bottom:10px;
    left:180px;
   
}
.circle4 {
    width: 30px;
    height: 30px;
    background: red;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border:3px solid black;
    position: absolute;
    bottom:360px;
    left:180px;
}

.square2 {
    width: 5px;
    height: 185px;
    background: black;
    border: 1px solid black;
    position: absolute;
    bottom:184px;
    left:194px;
}
.square3 {
    width: 175px;
    height: 5px;
    background: black;
    border: 1px solid black;
    position: absolute;
    bottom:204px;
    left:174px;
}
 p { 
     color: purple;
     font-size: 100%; /* Размер шрифта в процентах */ 
    }
